.politique {
    display: flex;
    flex-direction: column;

    @media screen and (max-width:485px) {
        text-align: justify;
    }

    .container {
        margin: 150px 50px 50px;
        width: 70%;

        @media screen and (max-width:769px) {
            width: 90%;
            margin: 100px auto 30px;
        }

        h2 {
            margin-bottom: 20px;

            @media screen and (max-width:300px) {
                text-align: center;
            }
        }
        p {
            margin: 20px 0;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
